<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.jm55612" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Martyna 55612</name>
    <description>
        Weather App
    </description>
    <author email="jm55612@zut.edu.pl" href="https://www.wi.zut.edu.pl">
       Martyna Jabłońska
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="electron"> 
        <icon src="res/electron/logo.png" /> 
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform> 

</widget>
