body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d9e2ec;
    background-image: url('momong.png'), repeating-radial-gradient(circle at center, #d9e2ec 0px, #d9e2ec 10px, #f1d5df 10px,  #f1d5df 20px);
    background-size: 100px; 
}
.map-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}

#map,#rasterMap {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin-bottom: 10px;
    color: #ffffff;
    background: #eee;
}
h3{
    background-color: #000000;
    padding: 10px;
    border: 2px solid #ffa3e2;
    color: white;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #000000;
    color: white;
    border: 2px solid #ffa3e2;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa3e2;
    color: #000000;
}

button:disabled {
    background-color: #696969;
    border-color: #acacac;
    cursor: not-allowed;
    opacity: 0.7;
}

.puzzle-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 20px;
}

.puzzle-column {
    flex: 0 0 auto;
}

#table,
#puzzle-area {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 75px);
    gap: 0;
    width: 600px;
    height: 300px;
    border: 2px solid #000000;
    background: #eee;
    margin-top: 20px;
}

.slot {
    width: 150px;
    height: 75px;
    border: 1px dashed #ffa3e2;
    background: #f9f9f9;
    box-sizing: border-box;
    position: relative;
}

.piece {
    width: 150px;
    height: 75px;
    object-fit: none;
    cursor: grab;
    user-select: none;
}

.piece.dragging {
    opacity: 0.6;
    cursor: grabbing;
}

.piece.correct {
    outline: 2px solid #33daff;
    border:none;
    outline-offset: -2px;
}