body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efb7c9; 
    background-image:  url('star.png');
    color: rgb(32, 6, 27);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#weather-search-params {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#locationInput {
    padding: 10px 15px;
    font-size: 16px;
    width: 40%;
}

#checkButton {
    padding: 10px 25px;
    background-color: rgb(32, 6, 27);;
    color: white;
    font-size: 16px;
    margin: 10px;
    width: 40%;
}

#weather-results-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    max-width: 1200px;
}

.weather-date {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

.weather-block {
    background: #f3c9d6;
    border-radius: 15px;
    padding: 10px;
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 12px rgba(32, 6, 27, 0.40);
    text-align: center;
}

#weather-results-container .weather-block:first-child {
    width: 100%; 
    background: linear-gradient(180deg, #ffdce7, #ffbcd2); 
    color: rgb(32, 6, 27); 
    box-shadow: 0 6px 12px rgba(32, 6, 27, 0.40);
    font-weight: bold;
}